/*--------  Login register style ---------*/
.login-register-wrapper .login-register-tab-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  
  @media only screen and (max-width: 767px) {
    .login-register-wrapper .login-register-tab-list {
      margin-bottom: 20px;
    }
  }
  
  .login-register-wrapper .login-register-tab-list a {
    position: relative;
  }
  
  .login-register-wrapper .login-register-tab-list a::before {
    background-color: #454545;
    bottom: 5px;
    content: "";
    height: 18px;
    margin: 0 auto;
    position: absolute;
    right: -2px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 1px;
  }
  
  .login-register-wrapper .login-register-tab-list a h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 20px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .login-register-wrapper .login-register-tab-list a:last-child::before {
    display: none;
  }
  
  .login-register-wrapper .login-register-tab-list a.active h4 {
    color: #ff2f2f;
  }
  
  .login-register-wrapper .login-form-container {
    background: transparent none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 80px;
    text-align: left;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .login-register-wrapper .login-form-container {
      padding: 80px 50px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .login-register-wrapper .login-form-container {
      padding: 40px 15px;
    }
  }
  
  .login-register-wrapper .login-form-container .login-register-form form input {
    background-color: transparent;
    border: 1px solid #ebebeb;
    font-size: 14px;
    height: 50px;
    margin-bottom: 30px;
    padding: 0 15px;
    color: #010225;
  }
  
  .login-register-wrapper .login-form-container .login-register-form form input[type="checkbox"] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 2px;
    width: 17px;
    color: #010225;
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn {
    padding: 10px 0 19px;
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn label {
    font-size: 15px;
    font-weight: 400;
  }
  
  @media only screen and (max-width: 767px) {
    .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn label {
      font-size: 14px;
    }
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a {
    float: right;
    font-size: 15px;
    color: #010225;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media only screen and (max-width: 767px) {
    .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a {
      font-size: 14px;
    }
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a:hover {
    color: #ff2f2f;
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box button {
    background-color: #ff2f2f;
    color: #fff;
    border: medium none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 13px 30px 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .login-register-wrapper .login-form-container .login-register-form form .button-box button:hover {
    background-color: #010225;
  }
  
  @media only screen and (max-width: 767px) {
    .login-register-area.pb-100 {
      padding-bottom: 60px;
    }
  }

  /*------ 17. Breadcrumb style  --------------------------------------------------------------------*/
.breadcrumb-area {
    padding: 45px 0;
  }
  
  .breadcrumb-content ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #ff2f2f;
    margin-right: 18px;
    text-transform: capitalize;
    position: relative;
  }
  
  .breadcrumb-content ul li::before {
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #5b5858;
    content: "";
    right: -21px;
    top: 12px;
    z-index: 9;
    -webkit-transform: rotate(115deg);
        -ms-transform: rotate(115deg);
            transform: rotate(115deg);
  }
  
  .breadcrumb-content ul li:last-child::before {
    display: none;
  }
  
  .breadcrumb-content ul li a {
    color: #000000;
    font-weight: 600;
  }
  
  .breadcrumb-content ul li a:hover {
    color: #ff2f2f;
  }