h3.cart-page-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px;
  }
  
  .cart-table-content table {
    border: 1px solid #ebebeb;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table {
      width: 100%;
    }
  }
  
  .cart-table-content table thead > tr {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table thead > tr {
      width: 100%;
      display: block;
      padding: 10px 0;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .cart-table-content table thead > tr {
      width: inherit;
      display: inline-block;
      padding: 10px 0;
    }
  }
  
  .cart-table-content table thead > tr th {
    border-top: medium none;
    font-size: 16px;
    font-weight: 600;
    padding: 21px 45px 22px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-table-content table thead > tr th {
      padding: 21px 35px 22px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-table-content table thead > tr th {
      padding: 21px 15px 22px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table thead > tr th {
      padding: 0px 20px 5px;
      width: 100%;
      display: block;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .cart-table-content table thead > tr th {
      width: inherit;
      display: inline-block;
    }
  }
  
  .cart-table-content table tbody > tr {
    border-bottom: 1px solid #ebebeb;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .cart-table-content table tbody > tr {
      width: 50%;
      float: left;
    }
  }
  
  .cart-table-content table tbody > tr td.product-thumbnail {
    width: 150px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-thumbnail {
      width: 100%;
      display: block;
      overflow: hidden;
      padding-top: 30px;
      padding-bottom: 5px;
    }
  }
  
  .cart-table-content table tbody > tr td.product-name {
    width: 435px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-name {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  
  .cart-table-content table tbody > tr td.product-name a {
    font-size: 15px;
  }
  
  .cart-table-content table tbody > tr td.product-name a:hover {
    color: #ff2f2f;
  }
  
  .cart-table-content table tbody > tr td.product-price-cart {
    width: 435px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-price-cart {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  
  .cart-table-content table tbody > tr td.product-price-cart span {
    font-weight: 500;
  }
  
  .cart-table-content table tbody > tr td.product-quantity {
    width: 435px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-quantity {
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  
  .cart-table-content table tbody > tr td.product-remove {
    width: 100px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-remove {
      width: 100%;
      display: block;
      overflow: hidden;
      padding-bottom: 21px;
    }
  }
  
  .cart-table-content table tbody > tr td.product-remove a {
    font-size: 20px;
  }
  
  .cart-table-content table tbody > tr td.product-remove a:hover {
    color: #ff2f2f;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td.product-wishlist-cart {
      padding-bottom: 30px;
    }
  }
  
  .cart-table-content table tbody > tr td.product-wishlist-cart > a {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 10px 12px 11px;
    display: inline-block;
    text-transform: capitalize;
  }
  
  .cart-table-content table tbody > tr td.product-wishlist-cart > a:hover {
    background-color: #ff2f2f;
  }
  
  .cart-table-content table tbody > tr td {
    font-size: 15px;
    padding: 30px 0;
    text-align: center;
    font-weight: 500;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-table-content table tbody > tr td {
      padding: 30px 0 30px 10px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .cart-table-content table tbody > tr td {
      padding: 6px 0 6px 0px;
      width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .cart-table-content table tbody > tr td {
      text-align: left;
      padding: 6px 20px 6px 20px;
    }
  }
  
  .cart-shiping-update-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0px 55px;
  }
  
  @media only screen and (max-width: 767px) {
    .cart-shiping-update-wrapper {
      display: block;
      padding: 30px 0px 15px;
    }
  }
  
  .cart-shiping-update-wrapper .cart-shiping-update > a,
  .cart-shiping-update-wrapper .cart-clear > button,
  .cart-shiping-update-wrapper .cart-clear > a {
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 18px 40px 17px;
    text-transform: capitalize;
    letter-spacing: .3px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-shiping-update-wrapper .cart-shiping-update > a,
    .cart-shiping-update-wrapper .cart-clear > button,
    .cart-shiping-update-wrapper .cart-clear > a {
      padding: 18px 25px 17px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .cart-shiping-update-wrapper .cart-shiping-update > a,
    .cart-shiping-update-wrapper .cart-clear > button,
    .cart-shiping-update-wrapper .cart-clear > a {
      padding: 18px 40px 17px;
      margin: 0 0 15px;
    }
  }
  
  .cart-shiping-update-wrapper .cart-shiping-update > a:hover,
  .cart-shiping-update-wrapper .cart-clear > button:hover,
  .cart-shiping-update-wrapper .cart-clear > a:hover {
    background-color: #ff2f2f;
    color: #fff;
  }
  
  .cart-shiping-update-wrapper .cart-clear > button {
    border: medium none;
    cursor: pointer;
    margin-right: 27px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-shiping-update-wrapper .cart-clear > button {
      margin-right: 15px;
    }
  }
  
  .cart-tax,
  .discount-code-wrapper {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-tax,
    .discount-code-wrapper {
      padding: 45px 18px 50px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-tax,
    .discount-code-wrapper {
      padding: 45px 20px 50px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .cart-tax,
    .discount-code-wrapper {
      padding: 45px 18px 50px;
    }
  }
  
  .cart-tax .title-wrap,
  .discount-code-wrapper .title-wrap {
    position: relative;
  }
  
  .cart-tax .title-wrap::before,
  .discount-code-wrapper .title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
  }
  
  .cart-tax .title-wrap h4.cart-bottom-title,
  .discount-code-wrapper .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-right: 18px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-tax .title-wrap h4.cart-bottom-title,
    .discount-code-wrapper .title-wrap h4.cart-bottom-title {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .cart-tax .title-wrap h4.cart-bottom-title,
    .discount-code-wrapper .title-wrap h4.cart-bottom-title {
      font-size: 17px;
    }
  }
  
  .cart-tax .title-wrap .section-bg-gray,
  .discount-code-wrapper .title-wrap .section-bg-gray {
    background-color: #f8f9f9;
    position: relative;
    z-index: 99;
  }
  
  .cart-tax .tax-wrapper,
  .discount-code-wrapper .tax-wrapper {
    margin-top: 22px;
  }
  
  .cart-tax .tax-wrapper p,
  .discount-code-wrapper .tax-wrapper p {
    margin: 0;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper {
    margin: 5px 0 0;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper .tax-select,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select {
    margin: 0 0 26px;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper .tax-select label,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select label {
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 400;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper .tax-select select,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    /*background: #fff url("../../assets/images/icon-img/cart.png") no-repeat scroll right 18px center;*/
    border: 1px solid #ebebeb;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #242424;
    font-size: 13px;
    height: 40px;
    padding: 0 50px 0 15px;
    width: 100%;
    cursor: pointer;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper .tax-select input,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper .tax-select input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    height: 40px;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper button.cart-btn-2,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper button.cart-btn-2 {
    background-color: #000000;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .3px;
    padding: 12px 40px 13px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .cart-tax .tax-wrapper .tax-select-wrapper button.cart-btn-2:hover,
  .discount-code-wrapper .tax-wrapper .tax-select-wrapper button.cart-btn-2:hover {
    background-color: #ff2f2f;
  }
  
  .cart-tax .discount-code,
  .discount-code-wrapper .discount-code {
    margin: 21px 0 0;
  }
  
  .cart-tax .discount-code p,
  .discount-code-wrapper .discount-code p {
    margin: 0 0 15px;
  }
  
  .cart-tax .discount-code form input,
  .discount-code-wrapper .discount-code form input {
    background: #fff;
    border: 1px solid #ebebeb;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
  }
  
  .cart-tax .discount-code form button.cart-btn-2,
  .discount-code-wrapper .discount-code form button.cart-btn-2 {
    background-color: #000000;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 40px 13px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .cart-tax .discount-code form button.cart-btn-2:hover,
  .discount-code-wrapper .discount-code form button.cart-btn-2:hover {
    background-color: #ff2f2f;
  }
  
  .grand-totall {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .grand-totall {
      padding: 45px 18px 50px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .grand-totall {
      padding: 45px 20px 50px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .grand-totall {
      margin-top: 30px;
    }
  }
  
  .grand-totall .title-wrap {
    position: relative;
  }
  
  .grand-totall .title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
  }
  
  .grand-totall .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-right: 18px;
  }
  
  .grand-totall .title-wrap .section-bg-gary-cart {
    background-color: #f9f9f9;
    position: relative;
    z-index: 9;
  }
  
  .grand-totall h5 {
    font-size: 14px;
    margin: 36px 0 27px;
    font-weight: 600;
  }
  
  .grand-totall h5 span {
    float: right;
    font-size: 18px;
    font-weight: 500;
  }
  
  .grand-totall .total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    padding: 28px 0;
  }
  
  .grand-totall .total-shipping h5 {
    font-size: 14px;
    margin: 0;
  }
  
  .grand-totall .total-shipping ul {
    padding: 19px 0 0 0px;
  }
  
  .grand-totall .total-shipping ul li {
    color: #242424;
    list-style: outside none none;
    margin: 0 0 6px;
  }
  
  .grand-totall .total-shipping ul li:last-child {
    margin: 0 0 0px;
  }
  
  .grand-totall .total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: #626262;
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
  }
  
  .grand-totall .total-shipping ul li span {
    float: right;
  }
  
  .grand-totall h4.grand-totall-title {
    color: #ff2f2f;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 25px;
  }
  
  .grand-totall h4.grand-totall-title span {
    float: right;
  }
  
  .grand-totall a {
    background-color: #000000;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .3px;
  }
  
  .grand-totall a:hover {
    background-color: #ff2f2f;
  }
  
  @media only screen and (max-width: 767px) {
    .discount-code-wrapper {
      margin: 30px 0;
    }
  }
  