  <!-- ======= Header ======= -->
  <header class="header-area bg-pink">
    <div class="header-large-device">
        <div class="header-top header-top-ptb-7 border-bottom-9">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="/homepage"><img src="assets/img/logo6.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="categori-search-wrap categori-search-wrap-modify-2">
                            <div class="categori-style-1">
                                <select class="nice-select nice-select-style-1">
                                    <option>All Categories </option>
                                    <option>Staples </option>
                                    <option>Snacks & Beverages</option>
                                    <option>Packaged Food</option>
                                    <option>Personal & Baby Care</option>
                                    <option>Household Care</option>
                                    <option>Dairy & Eggs</option>
                                    <option>Home & Kitchen</option>
                                </select>
                            </div>
                            <div class="search-wrap-3">
                                <form action="#">
                                    <input placeholder="Search Products..." type="text">
                                    <button class="orange"><i class="bi bi-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="header-action header-action-flex">
                            <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                                <a href="/myaccount"><i class="bi bi-house"></i></a>
                            </div>  
                            
                            <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                                <a href="/log-reg"><i class="bi bi-person-circle"></i></a>
                
                            </div>
                            
                            <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                                <a href="/wishlist"><i class="bi bi-heart"></i><span class="pro-count black">03</span></a>
                            </div>
                            <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc header-cart">
                                <a class="cart-active" href="/cartpage">
                                  <i class="bi bi-cart"></i><span class="pro-count black">03</span>
                                </a>
                            </div>
                            <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                              <a href="/ordertracking"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                            </div>              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main-menu main-menu-white main-menu-font-size-14 main-menu-padding-3 main-menu-lh-5 main-menu-hover-black">
                            <nav>
                                <ul>
                                    <li><a href="./shop-page/">Staples <i class="bi bi-chevron-down"></i></a>
                                        <ul class="sub-menu-style">
                                            <li><a href="./shop-page">Dals & Pulses </a></li>
                                            <li><a href="./shop-page">Ghee & Oils </a></li>
                                            <li><a href="./shop-page">Atta & Flours </a></li>
                                            <li><a href="./shop-page">Masalas & Spices </a></li>
                                            <li><a href="./shop-page">Rice & Rice Products </a></li>
                                            <li><a href="./shop-page"> Dry Fruits,Nuts & Seeds</a></li>
                                            <li><a href="./shop-page"> Sugar, Jaggery & Salt</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./shop-page">Snacks & Beverages <i class="bi bi-chevron-down"></i> </a>
                                        <ul class="mega-menu-style mega-menu-mrg-1">
                                            <li>
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-title" href="./shop-page">Snacks</a>
                                                        <ul>
                                                            <li><a href="/shop-page">Biscuits</a></li>
                                                            <li><a href="/shop-page">Chips</a></li>
                                                            <li><a href="/shop-page">Namkeen</a></li>
                                                            <li><a href="/shop-page">Snacks</a></li>
                                                            
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-title" href="./shop-page">Beverages</a>
                                                        <ul>
                                                            <li><a href="/shop-page">Tea</a></li>
                                                            <li><a href="/shop-page">Coffee</a></li>
                                                            <li><a href="/shop-page">Juices</a></li>
                                                            <li><a href="/shop-page">Health Drink Mix</a></li>
                                                            <li><a href="/shop-page">Soft Drinks</a></li>
                                                            <li><a href="/shop-page">Instant Drink Mixes</a></li>
                                                            <li><a href="/shop-page">Squash & Syrups</a></li>
                                                            <li><a href="/shop-page">Water</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- <li><a href="./shop-page">Packaged food <i class="bi bi-chevron-down"></i> </a>
                                        <ul class="sub-menu-style">
                                            <li><a href="./shop-page">Breakfast Cerals </a></li>
                                            <li><a href="./shop-page">Noodles & pasta</a></li>
                                            <li><a href="./shop-page">Ketchups & Sweets </a></li>
                                            <li><a href="./shop-page">Choclates & Sweets</a></li>
                                            <li><a href="./shop-page">Jams & Honey </a></li>
                                            <li><a href="./shop-page">Pickels & Chutney </a></li>
                                            <li><a href="./shop-page">Ready to Cook </a></li>
                                            <li><a href="./shop-page/">Cooking Sauces & vinegar</a></li>
                                            <li><a href="./shop-page">Baking </a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li><a href="blog.html">Personal & Baby Care<i class="bi bi-chevron-down"></i> </a>
                                        <ul class="sub-menu-style">
                                            <li><a href="blog.html">blog standard </a></li>
                                            <li><a href="blog-no-sidebar.html">blog no sidebar </a></li>
                                            <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="./shop-page">Personal & Baby Care </a><i class="bi bi-chevron-down"></i>
                                      <ul class="mega-menu-style mega-menu-mrg-1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a class="dropdown-title" href="./shop-page">Personal Care</a>
                                                    <ul>
                                                        <li><a href="/shop-page">Soaps &<br> Body Wash</a></li>
                                                            <li><a href="/shop-page">Hair Care</a></li>
                                                            <li><a href="/shop-page">Oral Care</a></li>
                                                            <li><a href="/shop-page">Deos, Perfumes & Talc</a></li>
                                                            <li><a href="/shop-page">Creams ,Lotions, Skin Care</a></li>
                                                            <li><a href="/shop-page">Kajal & Makeup </a></li>
                                                            <li><a href="/shop-page">Sanitary Needs</a></li>
                                                            <li><a href="/shop-page">Wellness & common Pharma</a></li>
                                                            <li><a href="./shop-page">Shaving Needs</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="dropdown-title" href="./shop-page">Baby Care</a>
                                                    <ul>
                                                        <li><a href="/shop-page">Diapers</a></li>
                                                        <li><a href="/shop-page">Wipes</a></li>
                                                        <li><a href="/shop-page">Baby Foods</a></li>
                                                        <li><a href="/shop-page">Baby bath</a></li>
                                                        <li><a href="/shop-page">Baby Skin Care</a></li>
                                                    
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    </li>
                                    <li><a href="./shop-page">Home & Kitchen</a><i class="bi bi-chevron-down"></i>
                                        <ul class="mega-menu-style mega-menu-mrg-1">
                                          <li>
                                              <ul>
                                      
                                                  <li>
                                                      <a class="dropdown-title" href="./shop-page">Home Essential</a>
                                                      <ul>
                                                          <li><a href="/shop-page">Storage & Containers</a></li>
                                                          <li><a href="/shop-page">Dining</a></li>
                                                          <li><a href="/shop-page">Cutlery</a></li>
                                                          <li><a href="/shop-page">Stationary & Household Essentials</a></li>
                                                          
                                                         
                                                      </ul>
                                                  </li>
                                                  <li>
                                                      <a class="dropdown-title" href="./shop-page">Kitchen Needs</a>
                                                      <ul>
                                                          <li><a href="/shop-page">Containers</a></li>
                                                          <li><a href="/shop-page">Kitchen Tools</a></li>
                                                          <li><a href="/shop-page">Cookware</a></li>
                                                          <li><a href="/shop-page">Non Stick</a></li>
                                                          
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                      </li>
                                    <li><a href="./shop-page">Dairy & Eggs </a><i class="bi bi-chevron-down"></i>
                                      <ul class="mega-menu-style mega-menu-mrg-1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a class="dropdown-title" href="#">Dairy</a>
                                                    <ul>
                                                        <li><a href="./shop-page">All</a></li>
                                                        <li><a href="./shop-page">Milk</a></li>
                                                        <li><a href="./shop-page">Flavoured Milk</a></li>
                                                        <li><a href="./shop-page">Cheese</a></li>
                                                        <li><a href="./shop-page">Curd & Yogurt</a></li>
                                                        <li><a href="./shop-page">Butter & Spreads</a></li>
                                                        <li><a href="./shop-page">Paneer & Tofu</a></li>
                                                        <li><a href="./shop-page">Soya and Almond Milk</a></li>
                                                        <li><a href="./shop-page">Buttermilk & Lassi</a></li>
                                                        <li><a href="./shop-page">Milk Powder</a></li>
                                                        <li><a href="./shop-page/">Cream and Condensed Milk</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="dropdown-title" href="#">Eggs</a>
                                                    <ul>
                                                        <li><a href="./shop-page">All</a></li>
                                                        <li><a href="./shop-page/">Egg</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    </li>
                                    <li><a href="./shop-page">Packaged food <i class="bi bi-chevron-down"></i> </a>
                                        <ul class="sub-menu-style">
                                            <li><a href="./shop-page">Breakfast Cerals </a></li>
                                            <li><a href="./shop-page">Noodles & pasta</a></li>
                                            <li><a href="./shop-page">Ketchups & Sweets </a></li>
                                            <li><a href="./shop-page">Choclates & Sweets</a></li>
                                            <li><a href="./shop-page">Jams & Honey </a></li>
                                            <li><a href="./shop-page">Pickels & Chutney </a></li>
                                            <li><a href="./shop-page">Ready to Cook </a></li>
                                            <li><a href="./shop-page/">Cooking Sauces & vinegar</a></li>
                                            <li><a href="./shop-page">Baking </a></li>
                                        </ul>
                                    </li>
                                    
                                    <!-- <li><a href="./shop-page">Home & Kitchen</a><i class="bi bi-chevron-down"></i>
                                      <ul class="mega-menu-style mega-menu-mrg-1">
                                        <li>
                                            <ul>
                                    
                                                <li>
                                                    <a class="dropdown-title" href="./shop-page">Home Essentials</a>
                                                    <ul>
                                                        <li><a href="/shop-page">Storage & Containers</a></li>
                                                        <li><a href="/shop-page">Dining</a></li>
                                                        <li><a href="/shop-page">Cutlery</a></li>
                                                        <li><a href="/shop-page">Stationary & Household Essentials</a></li>
                                                        
                                                       
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="dropdown-title" href="./shop-page">Kitchen Needs</a>
                                                    <ul>
                                                        <li><a href="/shop-page">Containers</a></li>
                                                        <li><a href="/shop-page">Kitchen Tools</a></li>
                                                        <li><a href="/shop-page">Cookware</a></li>
                                                        <li><a href="/shop-page">Non Stick</a></li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    </li> -->
                                    <li><a href="./shop-page">Household Care<i class="bi bi-chevron-down"></i> </a>
                                        <ul class="sub-menu-style">
                                            <li><a href="./shop-page">Detergent & Laundry</a></li>
                                            <li><a href="./shop-page">Utensils Cleaners</a></li>
                                            <li><a href="./shop-page">Floor & Other Cleaners</a></li>
                                            <li><a href="./shop-page">Repellants & Fresheners</a></li>
                                            <li><a href="./shop-page">Paper & Disposals</a></li>
                                            <li><a href="./shop-page">Basic Electricals</a></li>
                                            <li><a href="./shop-page">Pooja Needs</a></li>
                                            <li><a href="./shop-page">Pets food</a></li>
                                            <li><a href="./shop-page">Shoe Care</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="header-small-device small-device-ptb-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo5.PNG">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                            <a href="./log-reg"><i class="icon-user"></i></a>
                        </div>
                        <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc">
                            <a href="./wishlist"><i class="icon-heart"></i><span class="pro-count black">03</span></a>
                        </div>
                        <div class="same-style-2 same-style-2-white same-style-2-hover-black same-style-2-font-inc header-cart">
                            <a class="cart-active" href="./cartpage">
                                <i class="icon-basket-loaded"></i><span class="pro-count black">02</span>
                            </a>
                        </div>
                        <div class="same-style-2 same-style-2-white same-style-2-hover-black main-menu-icon">
                            <a class="mobile-header-button-active" href="./ordertracking"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</header>
  <!--================= End Header==========================-->
 
  <div class="routerr-container" style="padding-bottom:30px">
    <router-outlet></router-outlet> 
  </div>

<!-- ====================footer=============================-->

  
  <footer class="footer-area bg-white">
    <div class="footer-top border-bottom-4 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Quick Shop</h3>
                        <div class="footer-info-list info-list-50-parcent">
                            <ul>
                                <li><a href="./shop-page">New In</a></li>
                                <li><a href="./shop-page">Skin care</a></li>
                                <li><a href="./shop-page">Best Seller</a></li>
                                <li><a href="./shop-page">Household</a></li>
                                <li><a href="./shop-page">Staples</a></li>
                                <li><a href="./shop-page">Bags</a></li>
                                <li><a href="./shop-page">Snacks</a></li>
                                <li><a href="./shop-page">Baby Care</a></li>
                                <li><a href="./shop-page">Hair care</a></li>
                                <li><a href="./shop-page">Packaged Food</a></li>
                                <li><a href="./shop-page">Dairy Products</a></li>
                        
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="footer-widget ml-70 mb-40">
                        <h3 class="footer-title">useful links</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a href="/myaccount">My Account</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="#">Term & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="/ordertracking">Track Order</a></li>
                                <li><a href="/shop-page">Shop</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Returns/Exchange</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Contact Us</h3>
                        <div class="contact-info-2">
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-call-end"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>Got a question? Call us 24/7</p>
                                    <h3 class="orange">(91) 9342551550 </h3>
                                </div>
                            </div>
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-cursor icons"></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>NO.4 Sundar Nagar 6th street,</p>
                                     <p>  Allapakkam,chennai-600116
                                    </p>
                                </div>
                            </div>
                            <div class="single-contact-info-2">
                                <div class="contact-info-2-icon">
                                    <i class="icon-envelope-open "></i>
                                </div>
                                <div class="contact-info-2-content">
                                    <p>Grocer@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="social-style-1 social-style-1-font-inc social-style-1-mrg-2">
                            <a href="#"><i class="icon-social-twitter"></i></a>
                            <a href="#"><i class="icon-social-facebook"></i></a>
                            <a href="#"><i class="icon-social-instagram"></i></a>
                            <a href="#"><i class="icon-social-youtube"></i></a>
                            <a href="#"><i class="icon-social-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-30 pb-30 ">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-6">
                    <div class="payment-img payment-img-right">
                        <a href="#"><img src="assets/images/icon-img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="copyright copyright-center">
                        <p>Copyright © 2020 -------- | <a href="https://hasthemes.com/"><span>Grocer</span> ----</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
  <!--======================= End Footer====================== -->