
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/homepage">Home</a>
                </li>
                <li class="active">product details </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-details-area pt-120 pb-115">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12">
                <div class="product-details-tab">
                    <div class="product-dec-right pro-dec-big-img-slider">
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="assets/img/rice/p1.jpeg">
                                    <img src="assets/img/rice/p1.jpeg" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="assets/img/rice/p1.jpeg"><i class="icon-size-fullscreen"></i></a>
                        </div>
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="assets/img/rice/p2.jpeg">
                                    <img src="assets/img/rice/p2.jpeg" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="assets/img/rice/p2.jpeg"><i class="icon-size-fullscreen"></i></a>
                        </div>
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="assets/img/rice/p3.jpeg">
                                    <img src="assets/img/rice/p3.jpeg" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="assets/img/rice/p3.jpeg"><i class="icon-size-fullscreen"></i></a>
                        </div>
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="assets/img/rice/p4.jpeg">
                                    <img src="assets/img/rice/p4.jpeg" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="assets/img/rice/p4.jpeg"><i class="icon-size-fullscreen"></i></a>
                        </div>
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                                <a href="assets/img/rice/p4.jpeg">
                                    <img src="assets/img/rice/p4.jpeg" alt="">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="assets/img/rice/p4.jpeg"><i class="icon-size-fullscreen"></i></a>
                        </div>
                        
                    </div>
                    <div class="product-dec-left product-dec-slider-small-2 product-dec-small-style2">
                        <div class="product-dec-small active">
                            <img src="assets/img/rice/slide-1.jpeg" alt="">
                        </div>
                        <div class="product-dec-small">
                            <img src="assets/img/rice/slide-2.jpeg" alt="">
                        </div>
                        <div class="product-dec-small">
                            <img src="assets/img/rice/slide-3.jpeg" alt="">
                        </div>
                        <div class="product-dec-small">
                            <img src="assets/img/rice/slide-4.jpeg" alt="">
                        </div>
                        
                    </div>
                </div>
            </div> -->
            <div class="col-lg-6 col-md-12">
                <iframe width="100%" height="100%" scrolling="no" frameBorder="0" src="http://127.0.0.1:8080/pdp"></iframe>
            </div>
            <!-- <div></div> -->
            <!-- <div></div> -->
            <!-- <div></div> -->
            <!-- <div></div> -->
            <div class="col-lg-6 col-md-12">
                <div class="product-details-content pro-details-content-mt-md">
                    <h2>INDIA GATE Regular Choice Basmati Rice </h2>
                    <div class="product-ratting-review-wrap">
                        <div class="product-ratting-digit-wrap">
                            <div class="product-ratting">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <div class="product-digit">
                                <span>5.0</span>
                            </div>
                        </div>
                        <div class="product-review-order">
                            <span>62 Reviews</span>
                            <span>242 orders</span>
                        </div>
                    </div>
                    <p>India Gate Classic Basmati Rice is an exotic new class of Basmati which is aged for 2 years. India Gate Classic Basmati Rice has a delectable taste that lets you relish special moments in life. Apart from the delicious taste, it is defined by its delicate aroma and smooth pearl white grains that are extra fine and long - all attributes of a true Basmati. </p>
                    <div class="pro-details-price">
                        <span class="new-price">$75.72</span>
                        <span class="old-price">$95.72</span>
                    </div>
                    
                    <div class="pro-details-size">
                        <span>Variant:</span>
                        <div class="pro-details-size-content">
                            <ul>
                                <li><a href="#">500g</a></li>
                                <li><a href="#">1kg</a></li>
                                <li><a href="#">5kg</a></li>
                                <li><a href="#">10kg</a></li>
                        
                            </ul>
                        </div>
                    </div>
                    <div class="pro-details-quality">
                        <span>Quantity:</span>
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                        </div>
                    </div>                    
                    <div class="pro-details-action-wrap">
                        <div class="pro-details-add-to-cart">
                            <a title="Add to bag" href="/cartpage">Add To Bag </a>
                        </div>
                        <div class="pro-details-action">
                            <a title="Add to Wishlist" href="/wishlist"><i class="bi bi-heart"></i></a>
                            <a title="Add to Compare" href="/compare"><i class="fa fa-refresh"></i></a>
                            <a class="social" title="Social" href="#"><i class="bi bi-share"></i></a>
                            <div class="product-dec-social">
                                <a class="facebook" title="Facebook" href="#"><i class="icon-social-facebook"></i></a>
                                <a class="twitter" title="Twitter" href="#"><i class="icon-social-twitter"></i></a>
                                <a class="instagram" title="Instagram" href="#"><i class="icon-social-instagram"></i></a>
                                <a class="pinterest" title="Pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-wrapper pb-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="dec-review-topbar nav mb-45">
                    <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                    <a data-toggle="tab" href="#des-details2">Specification</a>
                    <a data-toggle="tab" href="#des-details4">Reviews and Ratting </a>
                </div>
                <div class="tab-content dec-review-bottom">
                    <div id="des-details1" class="tab-pane active">
                        <div class="description-wrap">
                            <p>India Gate Classic Basmati Rice is an exotic new class of Basmati which is aged for 2 years. India Gate Classic Basmati Rice has a delectable taste that lets you relish special moments in life. Apart from the delicious taste, it is defined by its delicate aroma and smooth pearl white grains that are extra fine and long - all attributes of a true Basmati. </p>
                            <p> Gate Classic Basmati Rice gives the grains 20% more length and 30% more servings than non-aged rice. When cooked, the grains elongate up to three times in length. India Gate Classic Basmati Rice helps elevate meals from ordinary to extraordinary. From fulfilling lunches to incredible dinners, this speciality Basmati rice can be used in rice dishes such as Hyderabadi Biryani, Awadhi Pulao, Kashmiri Pulao, and Zafrani Pulao. </p>
                            <p>INDIA GATE is India’s most trusted and largest selling Basmati Rice brand. It has become the preferred brand of choice among consumers and retailers over the years deriving mainly from consistency and quality assurance. India Gate Basmati Rice is aged to perfection which results in better volume, fluffiness, and yield. This aging process also imparts the distinct Basmati aroma and taste to the rice. All India Gate products are produced with international quality standards, cleaned, sorted and packed in superior, hygienic and state-of-the-art facilities, completely untouched by human hands."</p>
                        </div>
                    </div>
                    <div id="des-details2" class="tab-pane">
                        <div class="specification-wrap table-responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="title width1">Brand</td>
                                        <td>INDIA GATE</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Model Name</td>
                                        <td>Regular Choice</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Rice Type</td>
                                        <td>Basmati Rice</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Quantity</td>
                                        <td>5 kg</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Color</td>
                                        <td>White</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Maximum Shelf Life </td>
                                        <td>24 Months</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Nutrient Content</td>
                                        <td>NA</td>
                                    </tr>
                                    <tr>
                                        <td class="title width1">Container Type</td>
                                        <td>Vacuum Pack</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="des-details4" class="tab-pane">
                        <div class="review-wrapper">
                            <h2>1 review for Sleeve Button Cowl Neck</h2>
                            <div class="single-review">
                                <div class="review-img">
                                    <img src="assets/images/product-details/client-1.png" alt="">
                                </div>
                                <div class="review-content">
                                    <div class="review-top-wrap">
                                        <div class="review-name">
                                            <h5><span>Sathish</span> - March 24, 2021</h5>
                                        </div>
                                        <div class="review-rating">
                                            <i class="bi bi-star-fill yellow"></i>
                                            <i class="bi bi-star-fill yellow"></i>
                                            <i class="bi bi-star-fill yellow"></i>
                                            <i class="bi bi-star-fill yellow"></i>
                                            <i class="bi bi-star-fill yellow"></i>
                                        </div>
                                    </div>
                                    <p>"Classic" India Gate Basmati must come close to the "Holy Grail" of all Basmati rice; it is certainly better (although in some cases only marginally) than certain other upfront brands. I suspect that I have reached the end of my search!</p>
                                </div>
                            </div>
                        </div>
                        <div class="ratting-form-wrapper">
                            <span>Add a Review</span>
                            <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                            <div class="ratting-form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="rating-form-style mb-20">
                                                <label>Name <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="rating-form-style mb-20">
                                                <label>Email <span>*</span></label>
                                                <input type="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="star-box-wrap">
                                                <div class="single-ratting-star">
                                                    <a href="#"><i class="icon_star"></i></a>
                                                </div>
                                                <div class="single-ratting-star">
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                </div>
                                                <div class="single-ratting-star">
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                </div>
                                                <div class="single-ratting-star">
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                </div>
                                                <div class="single-ratting-star">
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                    <a href="#"><i class="icon_star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="rating-form-style mb-20">
                                                <label>Your review <span>*</span></label>
                                                <textarea name="Your Review"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-submit">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="related-product pb-115">
    <div class="container">
        <div class="section-title mb-45 text-center">
            <h2>Related Product</h2>
        </div>
        <div class="related-product-active">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-plr-1">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom mb-15">
                        <a href="/product-page">
                            <img src="assets/img/rice/rice-1.jpeg" alt="">
                        </a>
                        <div class="product-action-2 tooltip-style-2">
                            <button title="Wishlist"><i class="bi bi-heart"></i></button>
                            <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-fullscreen"></i></button>
                            <button title="Compare"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star gray"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Basic Joggin Shorts</a></h3>
                        <div class="product-price-2">
                            <span>$20.50</span>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 product-content-position text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star gray"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Basic Joggin Shorts</a></h3>
                        <div class="product-price-2">
                            <span>$20.50</span>
                        </div>
                        <div class="pro-add-to-cart">
                            <button title="Add to Cart">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-plr-1">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom mb-15">
                        <a href="/product-page">
                            <img src="assets/img/rice/rice-2.jpeg" alt="">
                        </a>
                        <span class="pro-badge left bg-red">-20%</span>
                        <div class="product-action-2 tooltip-style-2">
                            <button title="Wishlist"><i class="icon-heart"></i></button>
                            <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                            <button title="Compare"><i class="icon-refresh"></i></button>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star gray"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Make Thing Happen T-Shirt</a></h3>
                        <div class="product-price-2">
                            <span class="new-price">$35.45</span>
                            <span class="old-price">$45.80</span>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 product-content-position text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star gray"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Make Thing Happen T-Shirt</a></h3>
                        <div class="product-price-2">
                            <span class="new-price">$35.45</span>
                            <span class="old-price">$45.80</span>
                        </div>
                        <div class="pro-add-to-cart">
                            <button title="Add to Cart">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-plr-1">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom mb-15">
                        <a href="/product-page">
                            <img src="assets/img/rice/rice-3.jpeg" alt="">
                        </a>
                        <div class="product-action-2 tooltip-style-2">
                            <button title="Wishlist"><i class="icon-heart"></i></button>
                            <button title="Quick View" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                            <button title="Compare"><i class="icon-refresh"></i></button>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star gray"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Basic White Simple Sneaker</a></h3>
                        <div class="product-price-2">
                            <span>$35.45</span>
                        </div>
                    </div>
                    <div class="product-content-wrap-2 product-content-position text-center">
                        <div class="product-rating-wrap">
                            <div class="product-rating">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star grey"></i>
                            </div>
                            <span>(2)</span>
                        </div>
                        <h3><a href="/product-page">Basic White Simple Sneaker</a></h3>
                        <div class="product-price-2">
                            <span>$35.45</span>
                        </div>
                        <div class="pro-add-to-cart">
                            <button title="Add to Cart">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12 col-sm-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/rice/p1.jpeg" alt="">
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img src="assets/img/rice/p2.jpeg" alt="">
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img src="assets/img/rice/p3.jpeg" alt="">
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img src="assets/img/rice/p4.jpeg" alt="">
                            </div>
                        </div>
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active nav-style-6">
                                <a class="active" data-toggle="tab" href="#pro-1"><img src="assets/img/rice/p1.jpeg" alt=""></a>
                                <a data-toggle="tab" href="#pro-2"><img src="assets/img/rice/p2.jpeg" alt=""></a>
                                <a data-toggle="tab" href="#pro-3"><img src="assets/img/rice/p3.jpeg" alt=""></a>
                                <a data-toggle="tab" href="#pro-4"><img src="assets/img/rice/p4.jpeg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-12 col-sm-12">
                        <div class="product-details-content quickview-content">
                            <h2>Simple Black T-Shirt</h2>
                            <div class="product-ratting-review-wrap">
                                <div class="product-ratting-digit-wrap">
                                    <div class="product-ratting">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                    </div>
                                    <div class="product-digit">
                                        <span>5.0</span>
                                    </div>
                                </div>
                                <div class="product-review-order">
                                    <span>62 Reviews</span>
                                    <span>242 orders</span>
                                </div>
                            </div>
                            <p>Seamlessly predominate enterprise metrics without performance based process improvements.</p>
                            <div class="pro-details-price">
                                <span class="new-price">$75.72</span>
                                <span class="old-price">$95.72</span>
                            </div>
                            <div class="pro-details-color-wrap">
                                <span>Color:</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        <li><a class="dolly" href="#">dolly</a></li>
                                        <li><a class="white" href="#">white</a></li>
                                        <li><a class="azalea" href="#">azalea</a></li>
                                        <li><a class="peach-orange" href="#">Orange</a></li>
                                        <li><a class="mona-lisa active" href="#">lisa</a></li>
                                        <li><a class="cupid" href="#">cupid</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-details-size">
                                <span>Size:</span>
                                <div class="pro-details-size-content">
                                    <ul>
                                        <li><a href="#">XS</a></li>
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <span>Quantity:</span>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                </div>
                            </div>
                            <div class="product-details-meta">
                                <ul>
                                    <li><span>Categories:</span> <a href="#">Woman,</a> <a href="#">Dress,</a> <a href="#">T-Shirt</a></li>
                                    <li><span>Tag: </span> <a href="#">Fashion,</a> <a href="#">Mentone</a> , <a href="#">Texas</a></li>
                                </ul>
                            </div>
                            <div class="pro-details-action-wrap">
                                <div class="pro-details-add-to-cart">
                                    <a title="Add to Cart" href="#">Add To Cart </a>
                                </div>
                                <div class="pro-details-action">
                                    <a title="Add to Wishlist" href="#"><i class="icon-heart"></i></a>
                                    <a title="Add to Compare" href="#"><i class="icon-refresh"></i></a>
                                    <a class="social" title="Social" href="#"><i class="icon-share"></i></a>
                                    <div class="product-dec-social">
                                        <a class="facebook" title="Facebook" href="#"><i class="icon-social-facebook"></i></a>
                                        <a class="twitter" title="Twitter" href="#"><i class="icon-social-twitter"></i></a>
                                        <a class="instagram" title="Instagram" href="#"><i class="icon-social-instagram"></i></a>
                                        <a class="pinterest" title="Pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->